<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Bachiller Orientado En Humanidades Especialidad Ciencias Sociales</h2> - <h3>(1999-2004)</h3>
            </li>
                <p>Instituto Santísima Trinidad. Córdoba (Ciudad). Bachiller Orientado En Humanidades Especialidad Ciencias Sociales.</p>
        </ul>
        <ul>
            <li>
                <h2>Cs. Económicas (Contador Público) - No Finalizada</h2> - <h3>(2005-2008)</h3>
            </li>
                <p>Universidad Nacional de Córdoba (UNC)</p>
        </ul>
        <ul>
            <li>
                <h2>Curso completo de Inglés</h2> - <h3>(1998-2004)</h3>
            </li>
                <p>IICANA</p>
        </ul>
        <ul>
            <li>
                <h2>Curso Argentina Programa</h2> - <h3></h3>
            </li>
                <p>Ministerio de Desarrollo Productivo. Argentina</p>
        </ul>
        <ul>
            <li>
                <h2>Curso Introducción a los Algoritmos y la Programación</h2> - <h3></h3>
            </li>
                <p>TODOCODE Academy</p>
        </ul>
        <ul>
            <li>
                <h2>Curso Introducción a las Bases de Datos</h2> - <h3></h3>
            </li>
                <p>TODOCODE Academy</p>
        </ul>
        <ul>
            <li>
                <h2>Curso GIT y GIT HUB</h2> - <h3></h3>
            </li>
                <p>TODOCODE Academy</p>
        </ul>
        <ul>
            <li>
                <h2>Curso GIT y GIT HUB</h2> - <h3></h3>
            </li>
                <p>TODOCODE Academy</p>
        </ul>
        <ul>
            <li>
                <h2>Curso HTML</h2> - <h3></h3>
            </li>
                <p>@SoyDalto</p>
        </ul>
        <ul>
            <li>
                <h2>Curso CSS</h2> - <h3></h3>
            </li>
                <p>@SoyDalto</p>
        </ul>
        <ul>
            <li>
                <h2>Curso Javascript</h2> - <h3></h3>
            </li>
                <p>@SoyDalto</p>
        </ul>

    </div>
</div>