<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Country Cuatro Hojas</h2> - <h3>(2008-2009)</h3>
            </li>
                <p>Mendiolaza - Córdoba. Administrativo-Contable.</p>
        </ul>
        <ul>
            <li>
                <h2>Droguería Multifarma</h2> - <h3>(2009-2010)</h3>
            </li>
                <p>Ciudad de Córdoba. Administrativo-Contable. </p>
        </ul>
        <ul>
            <li>
                <h2>Rest Division Servicios</h2> - <h3>(2010-2015)</h3>
            </li>
                <p>Ciudad de Córdoba. Ejecutivo de Cuentas Empresa Claro </p>
        </ul>

    </div>
</div>